In [1]:
import pandas as pd
import numpy as np

In [3]:
phishing_df = pd.read_csv('./phishing.csv')
print(phishing_df.shape)
print(phishing_df.info())

(5971, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5971 entries, 0 to 5970
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LABEL   5971 non-null   object
 1   TEXT    5971 non-null   object
 2   URL     5971 non-null   object
 3   EMAIL   5971 non-null   object
 4   PHONE   5971 non-null   object
dtypes: object(5)
memory usage: 233.4+ KB
None

In [4]:
phishing_df.head()

      LABEL                                               TEXT URL EMAIL PHONE
0       ham  Your opinion about me? 1. Over 2. Jada 3. Kusr...  No    No    No
1       ham  What's up? Do you want me to come online? If y...  No    No    No
2       ham                       So u workin overtime nigpun?  No    No    No
3       ham  Also sir, i sent you an email about how to log...  No    No    No
4  Smishing  Please Stay At Home. To encourage the notion o...  No    No    No

In [6]:
phishing_df['LABEL'].value_counts(normalize=True)

ham         0.811254
Smishing    0.103165
spam        0.078044
Spam        0.003852
smishing    0.003684
Name: LABEL, dtype: float64

In [15]:
phishing_df['EMAIL'].value_counts()

No     5952
yes      19
Name: EMAIL, dtype: int64

In [19]:
phishing_df[phishing_df['PHONE'] == 'yes']

,LABEL,TEXT,URL,EMAIL,PHONE
5,Smishing,BankOfAmerica Alert 137943. Please follow http...,yes,No,yes
23,spam,lyricalladie(21/F) is inviting you to be her f...,No,No,yes
26,Smishing,UR awarded a City Break and could WIN a £200 S...,No,No,yes
31,spam,New Offer! Save upto 40\% electricity bill wit...,No,No,yes
38,Smishing,\tYOU HAVE WON! As a valued Vodafone customer ...,No,No,yes
...,...,...,...,...,...
5918,spam,4mths half price Orange line rental & latest c...,No,No,yes
5923,spam,You have won a Nokia 7250i. This is what you g...,No,No,yes
5937,spam,Get ur 1st RINGTONE FREE NOW! Reply to this ms...,No,No,yes
5943,spam,Ur cash-balance is currently 500 pounds - to m...,No,No,yes
5963,spam,call now 08707509020 Just 20p per min NTT Ltd...,No,No,yes

In [8]:
phishing_2_df = pd.read_csv('./fraud_email_.csv')
print(phishing_2_df.shape)
print(phishing_2_df.info())

(11929, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11929 entries, 0 to 11928
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    11928 non-null  object
 1   Class   11929 non-null  int64
dtypes: int64(1), object(1)
memory usage: 186.5+ KB
None

In [9]:
phishing_2_df.head()

                                                Text  Class
0  Supply Quality China's EXCLUSIVE dimensions at...      1
1                         over. SidLet me know. Thx.      0
2  Dear Friend,Greetings to you.I wish to accost ...      1
3  MR. CHEUNG PUIHANG SENG BANK LTD.DES VOEUX RD....      1
4          Not a surprising assessment from Embassy.      0

In [21]:
phishing_2_df['Class'].value_counts()

0    6742
1    5187
Name: Class, dtype: int64

In [23]:
phishing_3_df = pd.read_csv('./phishing_data_by_type.csv')
print(phishing_3_df.shape)
print(phishing_3_df.info())

(159, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Subject  157 non-null    object
 1   Text     159 non-null    object
 2   Type     159 non-null    object
dtypes: object(3)
memory usage: 3.9+ KB
None

In [24]:
phishing_3_df.head()

,Subject,Text,Type
0,URGENT BUSINESS ASSISTANCE AND PARTNERSHIP,URGENT BUSINESS ASSISTANCE AND PARTNERSHIP.\n\...,Fraud
1,URGENT ASSISTANCE /RELATIONSHIP (P),"Dear Friend,\n\nI am Mr. Ben Suleman a custom ...",Fraud
2,GOOD DAY TO YOU,FROM HIS ROYAL MAJESTY (HRM) CROWN RULER OF EL...,Fraud
3,from Mrs.Johnson,Goodday Dear\n\n\nI know this mail will come t...,Fraud
4,Co-Operation,FROM MR. GODWIN AKWESI\nTEL: +233 208216645\nF...,Fraud

In [25]:
phishing_3_df['Type'].value_counts(normalize=True)

Fraud               0.251572
Phishing            0.251572
Commercial Spam     0.251572
False Positives     0.245283
Name: Type, dtype: float64

In [9]:
phishing_4_df = pd.read_csv('./completeSpamAssassin.csv')
print(phishing_4_df.shape)
print(phishing_4_df.info())

(6046, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6046 entries, 0 to 6045
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6046 non-null   int64
 1   Body        6045 non-null   object
 2   Label       6046 non-null   int64
dtypes: int64(2), object(1)
memory usage: 141.8+ KB
None

In [10]:
phishing_4_df.head()

   Unnamed: 0                                               Body  Label
0           0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1           1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2           2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3           3  ##############################################...      1
4           4  I thought you might like these:\n1) Slim Down ...      1

In [53]:
phishing_extract_array = []
for i in range(1, 5):
    phishing_extract = pd.read_csv(f'./phishing_extract_{i}.csv')
    phishing_extract_array.append(phishing_extract)

    
combined_phishing_extract_df = pd.DataFrame()    
for df in phishing_extract_array:
    df.drop(columns=['Unnamed: 0', 'from', 'subject'], inplace=True)
    df.drop_duplicates(inplace=True)
    combined_phishing_extract_df = pd.concat([combined_phishing_extract_df, df])
combined_phishing_extract_df.to_csv('./phishing_eml_extract.csv', index=False)
#     print('---Head---')
#     display(df.head())
#     print('---Tail---')
#     display(df.tail())

In [54]:
phishing_extract_df = pd.read_csv('./phishing_eml_extract.csv')
display(phishing_extract_df)

                                                content
0     Dear valued PayPal member, Due to recent fraud...
1     Credit Union is constantly working to ensure s...
2     Untitled Document Dear eBay Member, We regret ...
3     Credit Union is constantly working to ensure s...
4     Dear Amazon member, Dear member, Due to concer...
...                                                 ...
1848  Dear business client of Regions Bank: The Regi...
1849  logo Dear Commonwealth Bank customer Commonwea...
1850  Dear National City business client: The Nation...
1851  Your account is limited PayPal is committed to...
1852  Dear PayPal Member, This email confirms that y...

[1853 rows x 1 columns]